@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: 'Roboto';
}

.headerClass {
    background-color: #30306c;
    padding: 8px;
    text-align: center;
    min-height: 10vh;
}

.headerClass h2 {
    font-size: 40px;
    color: #fff;
}

.headerClass i {
    font-size: 30px;
    color: #fff;
}

.menuVisibility {
    display: block;
}

.mainClass {
    background-color: black;
    color: white;
    padding: 8px;
    min-height: 80vh;
}

.footerClass {
    padding: 20px;
    background-color: black;
    border-top: 3px solid #30306c;
    min-height: 10vh;
}

.footerClass h3 {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

@media(min-width: 768px) {
    .menuVisibility {
        display: none;
    }

    .headerClass h2 {
        margin-top: 10px;
    }

    .footerClass {
        min-height: 15vh;
    }

    .footerClass h3 {
        font-size: 30px;
        margin-top: 25px;
    }
}